<app-header [pageTitle]="'AD Group Job Listing'"></app-header>

<section ngClass="main container">
  <a href="javascript:;" routerLink="/" ngClass="mini-nav"><< back to list</a>

  <ng-container *ngIf="job && !isBusy; else defaultDiv">
    <h2>{{ job.title }}</h2>
    <h5 ngClass="job-subtitle grey font-normal" *ngIf="job && job.location && job.date">
      <span *ngIf="job.location">Location: <strong class="bigger">{{ job.location }}</strong></span><br>
      <span *ngIf="job.date">Date: <strong class="bigger">{{ job.date | date:'mediumDate' }}</strong></span>
    </h5>
    <h5 class="grey font-normal mrgb-5">
      Job Description:
    </h5>
    <p ngClass="bigger grey bold" [innerHtml]="job.description"></p>
    <hr>
    <h5 class="grey font-normal">
      Applicants
    </h5>
    <ul class="applicant-list" *ngIf="job.applicants">
      <li *ngFor="let applicant of job.applicants">
        <strong ngClass="grey bigger">{{ applicant | titlecase }}</strong>
      </li>
    </ul>
  </ng-container>
  <ng-template #defaultDiv>
    <h5>Job not found, <a href="javascript:;" routerLink="/">Go back!</a></h5>
  </ng-template>
</section>