.job-item {
  padding: 15px 0;
  border-bottom: 2px solid rgba(36, 36, 36, 0.333);
}

.job-title {
  margin-bottom: 0;
}
.job-title a {
  color: rgb(20, 20, 20);
  text-decoration: none;
}
.job-title a:hover {
  color: rgb(60, 132, 240);
  text-decoration: underline;
}

.job-subtitle {
  margin-top: 5px;
  margin-bottom: 8px;
}

.job-description {
  margin: 10px 0 5px;
}