<div ngClass="job-item" *ngIf="job">
  <h2 ngClass="job-title">
    <a href="javascript:;" (click)="goDetails(job.id)">Job Title Here</a>
  </h2>
  <h5 ngClass="job-subtitle grey font-normal" *ngIf="job.location && job.date"><span *ngIf="job.location">Location: <strong>Melbourne</strong></span> <span *ngIf="job.date">| Date: <strong>2010-01-02</strong></span></h5>
  <p ngClass="job-description grey" *ngIf="job.description">{{ desc.length > descLimit ? (desc | slice:0:descLimit) + '...' : '' }}</p>
  <a href="javascript:;" ngClass="mini-nav" (click)="goDetails(job.id)">View Job >></a>
</div>