/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  min-width: 767px;
  padding: 0 15px;
}

.container {
  width: 100%;
  max-width: 992px;
  margin: auto;
}

.mini-nav {
  color: rgb(24, 159, 250);
  text-decoration: none;
  margin-top: 0;
  font-size: 10px;
  text-transform: uppercase;
}

.mini-nav:hover {
  color: rgb(60, 132, 240);
  text-decoration: underline;
}

p {
  margin: .5em 0;
}

.bold {
  font-weight: bold;
}

/* Typography and Colors */
.font-normal {
  font-weight: normal;
}

.grey {
  color: rgb(61, 61, 61);
}

.bigger {
  font-size: 1.02rem;
}

/* MISC */
.mrgb-5 {
  margin-bottom: 5px;
}

